<div class="container">
    <div class="row footer-legal">
        <div class="footer-legal__logo col-xs-12 hidden-sm hidden-md hidden-lg">
            <!-- Mobile -->
            <a href="landing.html">
                <img class="img-responsive" src="img/MetLife_Footer_Logo.png" alt="MetLife Footer Logo">
            </a>
            <br/>
            <p><a href="https://www.metlife.com/about/privacy-policy/index.html">Privacy Policy</a>&nbsp;&nbsp;&bull;&nbsp;&nbsp;<a href="https://www.metLife.com">MetLife.com</a></p>

        </div>
        <div class="footer-legal__logo hidden-xs col-sm-3 col-md-2">
            <!-- Desktop -->
            <a href="landing.html">
                <img class="img-responsive" src="img/MetLife_Footer_Logo.png" alt="MetLife Footer Logo">
            </a>
        </div>
        <div class="col-xs-12 col-sm-9 col-md-10">
            <p>&copy; 2020 MetLife Services and Solutions, LLC. All Rights Reserved.</p>
            <p>L0619515843[exp0820][xNY][xGU,MP,PR,VI]<span hidden-xs>&nbsp;&nbsp;<a href="https://www.metlife.com/about/privacy-policy/index.html">Privacy Policy</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="https://www.metLife.com">MetLife.com</a><br/>ADF# MULTI999.16</span></p>
        </div>
    </div>
</div>