<div data-toggle="collapse" data-target="#collapseSubnav" aria-expanded="false" aria-controls="collapseSubnav">
    <div class="subnav-min__button">
        <div class="container">Home</div>
    </div>
</div>
<div class="collapse" id="collapseSubnav">
    <div class="subnav-min__menu">
        <div class="container">
            <ul class="subnav-min__items">
                <li class="subnav-min__item">
                    <a class="subnav-min__link" href="landing.html">Home</a>
                </li>
                <li class="subnav-min__item">
                    <a class="subnav-min__link" href="accident.html">Accident</a>
                </li>
                <li class="subnav-min__item">
                    <a class="subnav-min__link" href="critical.html">Critical Illness</a>
                </li>
                <li class="subnav-min__item">
                    <a class="subnav-min__link" href="hospital.html">Hospital Indemnity</a>
                </li>
                <li class="subnav-min__item">
                    <a class="subnav-min__link" href="legal.html">Legal</a>
                </li>
                <li class="subnav-min__item">
                    <a class="subnav-min__link" href="register.html" target="_blank">Enroll Now</a>
                </li>
            </ul>
        </div>
    </div>
</div>