<div class="container">
    <div class="homepage-nav">
        <ul class="homepage-nav__items">

            <li class="homepage-nav__item">
                <a class="homepage-nav__link" href="landing.html">
                    <svg id="Layer_1" x="0px" y="0px" width="20px" height="20px" viewBox="-4.771 -4.266 36.63 32.828" enable-background="new -4.771 -4.266 36.63 32.828" xml:space="preserve">
						<path stroke-miterlimit="10" fill="#FFFFFF" d="M25.737,4.288v-8.672h-4.836v4.829l-7.305-5.323L-5.453,9.413l2.961,3.843
							l1.875-1.279l0.001,17.145h28.82V12.136l1.58,1.317l2.763-3.845L25.737,4.288z M25.148,26.07H2.439V10.005L13.94,1.333l11.208,8.868
							V26.07z"></path>
					</svg>&nbsp;&nbsp;Home
                </a>
            </li>
            <li class="homepage-nav__item">
                <a class="homepage-nav__link" href="accident.html">Accident</a>
            </li>
            <li class="homepage-nav__item">
                <a class="homepage-nav__link" href="critical.html">Critical Illness</a>
            </li>
            <li class="homepage-nav__item">
                <a class="homepage-nav__link" href="hospital.html">Hospital Indemnity</a>
            </li>
            <li class="homepage-nav__item">
                <a class="homepage-nav__link" href="legal.html">Legal</a>
            </li>
            <li class="homepage-nav__item">
                <a class="homepage-nav__link" href="register.html" target="_blank">Enroll Now</a>
            </li>

        </ul>
    </div>
</div>